<div class="container">
    <div class="row">
      <div class="modal-title w-100 d-flex justify-content-between align-items-center">
        <span>{{title}}</span>
        <i-x (click)="bsModalRef.hide()"></i-x>
      </div>
      <div class="col-sm-12" *ngIf="!loading">
        <form [formGroup]="examSettingForm" (ngSubmit)="onSubmit()" class="p-3">
  
          <div class="form-group row">
            <label for="inputActive" class="col-sm-2 col-form-label">Active</label>
            <div class="col-sm-10 d-flex align-items-center justify-content-start">
              <input 
                    [ngClass]="{ 'is-invalid': submitted && f.active.errors }"
                    type="checkbox"
                    class=""
                    id="inputActive" 
                    formControlName="active"
                    >
                    <div *ngIf="submitted && f.active.errors" class="invalid-feedback">
                        <div *ngIf="f.active.errors.required">Active [Error]</div>
                    </div>
            </div>
           
          </div>
          <div class="form-group row">
            <label for="inputAllowBackButton" class="col-sm-2 col-form-label">Allow Back Button</label>
            <div class="col-sm-10 d-flex align-items-center justify-content-start">
              <input 
                    [ngClass]="{ 'is-invalid': submitted && f.allowBackButton.errors }"
                    type="checkbox"
                    class=""
                    id="inputAllowBackButton" 
                    formControlName="allowBackButton"
                    >
                    <div *ngIf="submitted && f.allowBackButton.errors" class="invalid-feedback">
                        <div *ngIf="f.allowBackButton.errors.required">Allow Back Button [Error]</div>
                    </div>
            </div>
           
          </div>
          <div class="form-group row">
            <label for="inputAllowExamResume" class="col-sm-2 col-form-label">Allow Exam Resume</label>
            <div class="col-sm-10 d-flex align-items-center justify-content-start">
              <input 
                    [ngClass]="{ 'is-invalid': submitted && f.allowExamResume.errors }"
                    type="checkbox"
                    class=""
                    id="inputAllowExamResume" 
                    formControlName="allowExamResume"
                    >
                    <div *ngIf="submitted && f.allowExamResume.errors" class="invalid-feedback">
                        <div *ngIf="f.allowExamResume.errors.required">Allow Exam Resume [Error]</div>
                    </div>
            </div>
           
          </div>
          <div class="form-group row">
            <label for="inputExamResumeCount" class="col-sm-2 col-form-label">Exam Resume Count</label>
            <div class="col-sm-10 d-flex align-items-center justify-content-start">
              <input 
                    [ngClass]="{ 'is-invalid': submitted && f.allowExamResumeCount.errors }"
                    type="number"
                    class=""
                    id="inputExamResumeCount" 
                    formControlName="allowExamResumeCount"
                    >
                    <div *ngIf="submitted && f.allowExamResumeCount.errors" class="invalid-feedback">
                        <div *ngIf="f.allowExamResumeCount.errors.required">Exam Resume Count [Error]</div>
                    </div>
            </div>
           
          </div>
          <div class="form-group row">
            <label for="inputAllowReattempts" class="col-sm-2 col-form-label">Allow Reattempts</label>
            <div class="col-sm-10 d-flex align-items-center justify-content-start">
              <input 
                    [ngClass]="{ 'is-invalid': submitted && f.allowReattempts.errors }"
                    type="checkbox"
                    class=""
                    id="inputAllowReattempts" 
                    formControlName="allowReattempts"
                    >
                    <div *ngIf="submitted && f.allowReattempts.errors" class="invalid-feedback">
                        <div *ngIf="f.allowReattempts.errors.required">Allow Reattempts [Error]</div>
                    </div>
            </div>
           
          </div>
          <div class="form-group row">
            <label for="inputReattemptCount" class="col-sm-2 col-form-label">Reattempt Count</label>
            <div class="col-sm-10 d-flex align-items-center justify-content-start">
              <input 
                    [ngClass]="{ 'is-invalid': submitted && f.reattemptCount.errors }"
                    type="number"
                    class=""
                    id="inputReattemptCount" 
                    formControlName="reattemptCount"
                    >
                    <div *ngIf="submitted && f.reattemptCount.errors" class="invalid-feedback">
                        <div *ngIf="f.reattemptCount.errors.required">Reattempt Count [Error]</div>
                    </div>
            </div>
           
          </div>

          <div class="form-group row">
              <label for="input" class="col-sm-2 col-form-label">Display Format</label>
              <div class="col-sm-10">
                <select [ngClass]="{ 'is-invalid': submitted && f.category?.errors }"
                 formControlName="displayQuestion" class="form-control"
                  id="inputDisplayQuestion" required>
                  <option value="">--SELECT FORMAT --</option>
                  <option *ngFor="let format of displayQuestionFormats" [ngValue]="format.value">{{ format.displayName }}</option>
                </select>
                <div *ngIf="submitted && f.displayQuestion?.errors" class="invalid-feedback">
                  <div *ngIf="f.displayQuestion?.errors.required"> Display Format is required</div>
                </div>
              </div>
            </div>
          
  
          <div class="form-group row">
            <div class="col-sm-10 d-flex justify-content-center">
              <button type="button" class="btn btn-sm btn-secondary mr-2" (click)="bsModalRef.hide()">Back</button>
              <button type="submit" class="btn btn-sm btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <p *ngIf="loading" class="text-center"> Please wait . . .</p>
  